<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goToHome()" size="small" fill="Clear">
        <ion-icon name="home-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mi Ticket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container [loop]="true" [pagination]="true">


    <swiper-slide>
      <img style="color:red; " src="../../assets/imagenes/bailodromo.png" width="190px" height="240px" />
      <h1 style="text-align: center;">BAILODROMO A LA CALLE</h1>
      <p style="text-align: center;">El festival que hará temblar la vía 40, Diego Daza, Guayacan Orquesta, la Charanga
        76, Hansel y Raul</p>
    </swiper-slide>

    <swiper-slide>
      <img style="text-align: center;" src="../../assets/imagenes/bac.png" width="190px" height="240px" />
      <h1 style="text-align: center;">BAILE A LA CALLE</h1>
      <p style="text-align: center;">Disfruta con Maelo Ruiz, Charanga 70, Hansel y Raúl, Grupo Bananas, Beto Zabaleta,
        Juan Piña y Eddy Herrera</p>
    </swiper-slide>

    <swiper-slide>
      <img style="text-align: center;" src="../../assets/imagenes/velitas.png" width="190px" height="240px" />
      <h1 style="text-align: center;">NOCHE DE VELITAS</h1>
      <p style="text-align: center;">¡Pa todos los bailadores y amantes de la buena música, este 7 isfruta esta noche
        con grandes artistas como Gilberto Santa Rosa, Eddy Herrera, Beto Zabaleta, Danny Danielg y Orquesta Argon.</p>

    </swiper-slide>

    <swiper-slide>
      <img style="text-align: center;" src="../../assets/imagenes/halloween.png" width="190px" height="240px" />
      <h1 style="text-align: center;">HALLOWEEN PARTY</h1>
      <p style="text-align: center;">¡E 27 de octubre unete a nosotros para una noche aterradora, llena de diversión,
        música y baile al ritmo de la champeta de Kevin Florez.</p>

    </swiper-slide>

    <swiper-slide>
      <img style="text-align: center;" src="../../assets/imagenes/VP.png" width="190px" height="240px" />
      <h1 style="text-align: center;">FESTIVAL DE ROCK</h1>
      <p style="text-align: center;">Oficina VAN Cra 52 #74-125</p>
      <p style="text-align: center;">Www.Miticket.com.co</p>
      <p style="text-align: center;">Almacenes okey sport</p>
    </swiper-slide>

    <swiper-slide>
      <img style="text-align: center;" src="../../assets/imagenes/FN.png" width="190px" height="240px" />
      <h1 style="text-align: center;">RETRO Djs 2023</h1>
      <p style="text-align: center;">15 Discjockeys de todo el país tocando los clásicos dance más relevantes de los 80s
        & 90s. Sábado 5 de Agosto</p>
      <p style="text-align: center;">VAN Restaurante Bar, cover 30k</p>


    </swiper-slide>

  </swiper-container>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>


  <ion-button expand="block" fill="outline">COMPRAR</ion-button>

  <div class="wrapper">

    <div class="ion-activatable ripple-parent custom-parent">
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="ion-activatable ripple-parent">
      <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
    </div>
  </div>