<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <swiper-container
[loop]="true"
[pagination]="true">


<swiper-slide>
  <img style="text-align: center;"src="imagenes_proyecto/bailodromo.png" atl="">
  <h1 class="red-tittle" style="text-align: center;">El bailodromo a la calle</h1>
  <p   style="text-align: center;">prepárense para el Bailodromo, el festival que hará temblar la calle 72 con vía 40 este lunes y martes de Carnaval!</p>

    <p>En la pista de baile, Diego Dazam nos pondrá a zapatear con su vallenato auténtico, mientras que Guayacan Orquesta nos hará gozar con su sabrosura musical. ¡Y desde Miami, la Charanga 76 con Hansel y Raul nos traen el sabor internacional que nunca imaginamos tener en Carnaval!</p>
    
    <p>Pero eso no es todo, porque Maelo Ruiz , Frankie Ruiz jr rendirán un emotivo homenaje a la salsa con el legado de Frankie Ruiz. Ana del Castillo como la mujer más importante en el vallenato y Eddy Herrera pondrá el toque de merenguero para que nadie se quede sin mover las caderas.</p>
    <br>
    <br>
</swiper-slide>

<swiper-slide> 
  <img style="text-align: center;"src="https://www.instagram.com/p/C0-PNw3OOBt/?hl=es&img_index=1"/>
  <h1 style="text-align: center;">Gran baile a la calle, sabado de carnaval</h1>
  <p style="text-align: center;">Prepárate para vivir un carnaval inolvidable con baile a la Calle este sábado. Disfruta de la mejor música con Maelo Ruiz, Guayacán Orquesta, Ana del Castillo, Charanga 76 desde Miami con Hansel y Raúl, Grupo Bananas, Beto Zabaleta, Juan Piña y Eddy Herrera. No te pierdas este espectacular concierto que hará vibrar las calles con ritmo y alegría. #CarnavalALaCalle #ConciertoCarnavalero</p>
</swiper-slide>

<swiper-slide>
  <img style="text-align: center;"src="https://www.instagram.com/p/CzMQJiQRgwS/?hl=es"/>
  <h1 style="text-align: center;">Noche de velitas</h1>
  <p style="text-align: center;">¡Pa todos los bailadores y amantes de la buena música, este 7 de diciembre llega el #GranBaileDeVelitas!</p>
  <p style="text-align: center;">Disfruta esta noche con grandes artistas como santarosalive, eddy_herrera, betozabaletaceledon, dannydanielg y orquestaragon.</p>  
</swiper-slide>

<swiper-slide>
  <img style="text-align: center;"src="https://www.instagram.com/p/CyTo_kjOi3X/?hl=es"/>
  <h1 style="text-align: center;">Halloween Party</h1>
  <p style="text-align: center;">¡Celebra #Halloween con estilo en VAN Restaurante Bar el 27 de octubre! Únete a nosotros para una noche aterradora, llena de diversión, música y baile al ritmo de la champeta de Kevin Florez.</p>
  <p style="text-align: center;">¡Ven con tu mejor disfraz y participa en nuestro concurso para tener la oportunidad de ganar increíbles premios! No te lo pierdas. Para más información y reservas, contáctanos al 3186478605. 
  <p style="text-align: center;">¡Prepárate para una noche espeluznante llena de sorpresas!</p> 
</swiper-slide>

<swiper-slide>
  <img style="text-align: center;"src="https://www.instagram.com/p/Cvc3r-yuA0U/?hl=es"/>
  <h1 style="text-align: center;">Festival de rock recibe a una de las bandas más importantes de todos los ¡tiempos Los de adentro!</h1>
  <p style="text-align: center;">¡Boletería disponible! Puntos de venta</p>
    <p style="text-align: center;">Oficina VAN Cra 52 #74-125</p>
    <p style="text-align: center;">Www.Miticket.com.co</p>
    <p style="text-align: center;">Almacenes okey sport</p> 
</swiper-slide>

<swiper-slide>
  <img style="text-align: center;"src="https://www.instagram.com/p/CvZuoKesk_x/?hl=es"/>
  <h1 style="text-align: center;">Festival Nacional de Djs Retro 2023</h1>
  <p style="text-align: center;">15 Discjockeys de todo el país tocando los clásicos dance más relevantes de los 80s & 90s.</p>
    <p style="text-align: center;">Sábado 5 de Agosto</p>
    <p style="text-align: center;">VAN Restaurante Bar</p>
    <p style="text-align: center;">Cover 30k</p>
    <p style="text-align: center;">Open 5 pm</p>
</swiper-slide>

</swiper-container>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  
</ion-content>
